* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightcyan;
}

.slider-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;

}

.slider-container {
    max-width: 50%;
    max-height: 100%;
    display: grid;
    overflow: hidden;
    border-radius: 15px;
    margin: 50px auto;
}

.sliders {
    display: flex;
    width: 400%;
    max-height: 100%;

}

input[name ='slider'] {
    display: none;
}

.slider-field {
    max-width: 25%;
    transition: all 1s ease;
}

.slider-field img {
    max-width: 100%;
    height: 100%;
}

.navigation {
    display: flex;
    max-width: 20%;
    max-height: 20%;
    margin: -30px auto;
    gap: 20px;
    z-index: 100;
}
.bar {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.5s ease;
}
.bar:hover {
    opacity: 0.8;
    transform: scale(1.2);
    background-color: lightcyan;
}

.btn-container {
    display: flex;
    gap: 15px;
    z-index: 100;
    margin: -100px auto;
    max-width: 20vw;
    justify-content: center;
}

#r1:checked ~ .slider-field {
    transform: translateX(0);
}

#r2:checked ~ .slider-field {
    transform: translateX(-100%);
}

#r3:checked ~ .slider-field {
    transform: translateX(-200%);
}

#r4:checked ~ .slider-field {
    transform: translateX(-300%);
}
